<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jking.website.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.jking.website.entity.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="phonenum" property="phonenum" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, phonenum
  </sql>
  <insert id="AddUser" parameterType="java.lang.String">
    INSERT IGNORE INTO `user` (phonenum) VALUES( <trim prefix="(" suffix=")" suffixOverrides="," >#{phonenum,jdbcType=VARCHAR}</trim>);
  </insert>
  <select id="findUid" resultType="java.lang.Integer" parameterType="java.lang.String">
    SELECT id from user where phonenum=#{phonenum,jdbcType=VARCHAR};
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jking.website.entity.User" >
    insert into user (id, phonenum)
    values (#{id,jdbcType=INTEGER}, #{phonenum,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jking.website.entity.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="phonenum != null" >
        phonenum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="phonenum != null" >
        #{phonenum,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jking.website.entity.User" >
    update user
    <set >
      <if test="phonenum != null" >
        phonenum = #{phonenum,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jking.website.entity.User" >
    update user
    set phonenum = #{phonenum,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>